.deleted {
    background: red;
}

.added {
    background: green;
}

body, html {
    margin: 0;
    padding: 0;
}

.content {
    height: 100vh;
    display: flex;
}

.left, .right {
    flex: 1;
    overflow: auto;
}

.inner {
    height: 1000px;
}
